<ul style="padding: 0px; margin: 0em; margin-left: 20px">
<li style="list-style-image:url('/images/favicons/blog.greptilian.com.png')"><a rel="me" href="http://blog.greptilian.com">blog.greptilian.com</a></li>
<li style="list-style-image:url('/images/favicons/wiki.greptilian.com.png')"><a rel="me" href="http://wiki.greptilian.com/about/pdurbin">wiki.greptilian.com/about/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/bostonopen.dev.png')"><a rel="me" href="https://bostonopen.dev/people/pdurbin">bostonopen.dev/people/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/github.com.png')"><a rel="me" href="https://github.com/pdurbin">github.com/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/www.iq.harvard.edu.png')"><a rel="me" href="https://www.iq.harvard.edu/people/philip-durbin">www.iq.harvard.edu/people/philip-durbin</a></li>
<li style="list-style-image:url('/images/favicons/linkedin.com.png')"><a rel="me" href="https://linkedin.com/in/pdurbin">linkedin.com/in/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/twitter.com.png')"><a rel="me" href="https://twitter.com/philipdurbin">twitter.com/philipdurbin</a></li>
<li style="list-style-image:url('/images/favicons/stackoverflow.com.png')"><a rel="me" href="https://stackoverflow.com/users/19464/philip-durbin">stackoverflow.com/users/19464/philip-durbin</a></li>
<li style="list-style-image:url('/images/favicons/stackexchange.com.png')"><a rel="me" href="https://stackexchange.com/users/10330/philip-durbin?tab=accounts">stackexchange.com/users/10330/philip-durbin</a></li>
<li style="list-style-image:url('/images/favicons/discourse.opensourcediversity.org.png')"><a rel="me" href="https://discourse.opensourcediversity.org/u/pdurbin">discourse.opensourcediversity.org/u/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/discourse.opensourcedesign.net.png')"><a rel="me" href="https://discourse.opensourcedesign.net/u/pdurbin">discourse.opensourcedesign.net/u/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/ask.cyberinfrastructure.org.png')"><a rel="me" href="https://ask.cyberinfrastructure.org/u/pdurbin">ask.cyberinfrastructure.org/u/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/sourcefu.github.io.png')"><a rel="me" href="https://sourcefu.github.io/members/pdurbin">sourcefu.github.io/members/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/crimsonfu.github.io.png')"><a rel="me" href="https://crimsonfu.github.io/members/pdurbin">crimsonfu.github.io/members/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/blogs.perl.org.png')"><a rel="me" href="https://blogs.perl.org/users/philip_durbin/">blogs.perl.org/users/philip_durbin/</a></li>
<li style="list-style-image:url('/images/favicons/commandlinefu.com.png')"><a rel="me" href="https://commandlinefu.com/commands/by/pdurbin">commandlinefu.com/commands/by/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/huffduffer.com.png')"><a rel="me" href="https://huffduffer.com/philipdurbin">huffduffer.com/philipdurbin</a></li>
<li style="list-style-image:url('/images/favicons/soundcloud.com.png')"><a rel="me" href="https://soundcloud.com/philipdurbin">soundcloud.com/philipdurbin</a></li>
<li style="list-style-image:url('/images/favicons/en.wikipedia.org.png')"><a rel="me" href="https://en.wikipedia.org/wiki/user:pdurbin">en.wikipedia.org/wiki/user:pdurbin</a></li>
</ul>
