<ul style="padding: 0px; margin: 0em; margin-left: 20px">
<li style="list-style-image:url('/images/favicons/wiki.greptilian.com.png')"><a href="http://wiki.greptilian.com">wiki.greptilian.com</a></li>
<li style="list-style-image:url('/images/favicons/github.com.png')"><a href="http://github.com/pdurbin">github.com/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/twitter.com.png')"><a href="http://twitter.com/philipdurbin">twitter.com/philipdurbin</a></li>
<li style="list-style-image:url('/images/favicons/people.iq.harvard.edu.png')"><a href="http://people.iq.harvard.edu/~pdurbin">people.iq.harvard.edu/~pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/sourcefu.com.png')"><a href="http://sourcefu.com/members/pdurbin">sourcefu.com/members/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/plus.google.com.png')"><a href="http://plus.google.com/107770072576338242009">plus.google.com/107770072576338242009</a></li>
<li style="list-style-image:url('/images/favicons/stackoverflow.com.png')"><a href="http://stackoverflow.com/users/19464/philip-durbin">stackoverflow.com/users/19464/philip-durbin</a></li>
<li style="list-style-image:url('/images/favicons/unix.stackexchange.com.png')"><a href="http://unix.stackexchange.com/users/7494/philip-durbin">unix.stackexchange.com/users/7494/philip-durbin</a></li>
<li style="list-style-image:url('/images/favicons/serverfault.com.png')"><a href="http://serverfault.com/users/1156/philip-durbin">serverfault.com/users/1156/philip-durbin</a></li>
<li style="list-style-image:url('/images/favicons/stackexchange.com.png')"><a href="http://stackexchange.com/users/10330/philip-durbin?tab=accounts">stackexchange.com/users/10330/philip-durbin</a></li>
<li style="list-style-image:url('/images/favicons/blogs.perl.org.png')"><a href="http://blogs.perl.org/users/philip_durbin">blogs.perl.org/users/philip_durbin</a></li>
<li style="list-style-image:url('/images/favicons/crimsonfu.github.com.png')"><a href="http://crimsonfu.github.com/members/pdurbin">crimsonfu.github.com/members/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/commandlinefu.com.png')"><a href="http://commandlinefu.com/commands/by/pdurbin">commandlinefu.com/commands/by/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/linkedin.com.png')"><a href="http://linkedin.com/in/pdurbin">linkedin.com/in/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/huffduffer.com.png')"><a href="http://huffduffer.com/philipdurbin">huffduffer.com/philipdurbin</a></li>
<li style="list-style-image:url('/images/favicons/soundcloud.com.png')"><a href="http://soundcloud.com/philipdurbin">soundcloud.com/philipdurbin</a></li>
<li style="list-style-image:url('/images/favicons/en.wikipedia.org.png')"><a href="http://en.wikipedia.org/wiki/user:pdurbin">en.wikipedia.org/wiki/user:pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/pluss.es.png')"><a href="http://pluss.es/107770072576338242009/">pluss.es/107770072576338242009/</a></li>
</ul>
