<ul style="padding: 0px; margin: 0em; margin-left: 20px">
<li style="list-style-image:url('/images/favicons/wiki.greptilian.com.png')"><a rel="me" href="http://wiki.greptilian.com">wiki.greptilian.com</a></li>
<li style="list-style-image:url('/images/favicons/github.com.png')"><a rel="me" href="https://github.com/pdurbin">github.com/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/twitter.com.png')"><a rel="me" href="http://twitter.com/philipdurbin">twitter.com/philipdurbin</a></li>
<li style="list-style-image:url('/images/favicons/www.iq.harvard.edu.png')"><a rel="me" href="http://www.iq.harvard.edu/people/philip-durbin">www.iq.harvard.edu/people/philip-durbin</a></li>
<li style="list-style-image:url('/images/favicons/linkedin.com.png')"><a rel="me" href="http://linkedin.com/in/pdurbin">linkedin.com/in/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/sourcefu.com.png')"><a rel="me" href="http://sourcefu.com/members/pdurbin">sourcefu.com/members/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/stackoverflow.com.png')"><a rel="me" href="http://stackoverflow.com/users/19464/philip-durbin">stackoverflow.com/users/19464/philip-durbin</a></li>
<li style="list-style-image:url('/images/favicons/stackexchange.com.png')"><a rel="me" href="http://stackexchange.com/users/10330/philip-durbin?tab=accounts">stackexchange.com/users/10330/philip-durbin</a></li>
<li style="list-style-image:url('/images/favicons/crimsonfu.github.com.png')"><a rel="me" href="http://crimsonfu.github.com/members/pdurbin">crimsonfu.github.com/members/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/plus.google.com.png')"><a rel="me" href="https://plus.google.com/+PhilipDurbin">plus.google.com/+PhilipDurbin</a></li>
<li style="list-style-image:url('/images/favicons/blogs.perl.org.png')"><a rel="me" href="http://blogs.perl.org/users/philip_durbin">blogs.perl.org/users/philip_durbin</a></li>
<li style="list-style-image:url('/images/favicons/commandlinefu.com.png')"><a rel="me" href="http://commandlinefu.com/commands/by/pdurbin">commandlinefu.com/commands/by/pdurbin</a></li>
<li style="list-style-image:url('/images/favicons/huffduffer.com.png')"><a rel="me" href="http://huffduffer.com/philipdurbin">huffduffer.com/philipdurbin</a></li>
<li style="list-style-image:url('/images/favicons/soundcloud.com.png')"><a rel="me" href="http://soundcloud.com/philipdurbin">soundcloud.com/philipdurbin</a></li>
<li style="list-style-image:url('/images/favicons/en.wikipedia.org.png')"><a rel="me" href="http://en.wikipedia.org/wiki/user:pdurbin">en.wikipedia.org/wiki/user:pdurbin</a></li>
</ul>
